.header {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem;
  background-color: #e2e3e4;
}

.list {
  display: flex;
  list-style: none;
}

.list li {
  margin: 5px 20px;
}
